body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}
/*Navbar*/

nav {
    background-color: #333;
    display: flex;
    height: 5vh;
    justify-content: space-evenly;
    flex-direction: row;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav ul li a{
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 20px;
    color: white;
    display: inline;
    text-decoration: none;
}

/*Footer*/

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
